/**
 * Styles for the WP Admin plugin options page
 *
 * This file contains CSS.
 *
 * @link        http://www.panoramica.co.nz
 * @since       0.1.0
 *
 * @package     WpDTRT_SoundCloud_Pages
 * @subpackage  WpDTRT_SoundCloud_Pages/views
 */

.wpdtrt-soundcloud-pages-data {
  overflow: hidden;
}

.wpdtrt-soundcloud-pages-data code {
  background-color: transparent;
  font-size: .9em;
}

.wpdtrt-soundcloud-pages-date {
  font-size: .95em;
}

.widget .wpdtrt-soundcloud-pages-tip {
  display: block;
  padding-top: 4px;
}

